body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#Nem_pense {
    position: absolute;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.central {
    text-align: center;
    justify-items: center;
}